/* MAIN GAME */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("images/background3.jpg");
  background-repeat: repeat;
  background-size: 100%, 100%;
  font-family: 'Papyrus','Lucida Console', 'Lucida Sans Typewriter';
}

html {
  height: 100%;
}

h2 {
  color: yellow;
  padding-bottom: 24px;
  font-weight:bolder;
  font-size: 48px;
}

h4 {
  color: yellow;
  padding-top: 24px;
  font-size: 32px;
}

.header {
  justify-content: flex-end;
  text-align: center;
  color: yellow;
  font-size: 32px;
  padding: 24px;
  margin-bottom: 24px;
}

.play-container {
  display: flex;
}

.player-subcontainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  flex-wrap: wrap;
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  align-content: center;
  border-radius: 10px;
  border: solid rgb(105,105,105) 6px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
  transition: transform 0.025s ease-in;
}

.btn:hover {
  border: solid green 6px;
  transform: scale(1.1);
}

.btn:focus {
  border: solid orange 6px;
  transform: scale(1.2);
}

.image {
  object-fit: scale-down;
  overflow: auto;
}

.results-subcontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    flex-wrap: wrap;
    min-width: 150px;
    text-align: center;
    justify-content: center;
}

.score {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.cpu-subcontainer { 
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  flex-wrap: wrap;
  text-align: center;
}

.play {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cpu, .player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  align-content: center;
  border-radius: 10px;
  border: dashed black 6px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
  transition: transform 0.025s ease-in;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: yellow;
  font-size: 20px;
  padding: 24px;
}

.am-github {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  color: yellow;
}

.am-github:hover {
  transform: scale(1.5);
  }

  /* ENDGAME MODAL */
  /* MODALS */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--primary-dark);
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

.btn-restart {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: transform 0.05s ease-in;
}

.btn-restart:hover {
  border: solid yellow 6px;
  background-color: yellow;
  transform: scale(1.2);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
}

.overlay.active {
  display: block;
}